.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
